//
// Partials -> Header
// ------------------------------------


//
// Header
//
.page-header {
    position: fixed;
    left: 0;right: 0;top: 0;
    padding: 1% 1.9%;
    &-inner {
        @include row-flex();
        @include justify-content__xs(space-between);
        @include align-items__xs(center);
    }
    &__logo {
        a {text-decoration: none;}
    }
    &__link {
        opacity: 0;
        @include transition();
    }
    &.fixed {
        .page-header__link {
            opacity: 1;
        }
    }
}

//
// Main title
//
.title { }


//
// old-browser
//
.browsehappy {
  @extend .container;
}
.lt-ie8 { }
