//
// Partials -> Main
// ------------------------------------

@if $use-adaptive == false {
  header, main, footer {
    min-width: $container-xl;
  }
}

//
// Main container
//
.page-main {
  padding-top: 20px;
  padding-bottom: 20px;
}


//tempaltes
.text-template {
  padding: 20px 0;
}
.dark-template {
  padding: 20px 0;
  background-color: $base-color-darken;
}
//tempaltes


.carousel-item {
  overflow-x: auto;
  white-space: nowrap;
  a {
    padding: 0 10px;
    position: relative;
    display: inline-block;
    img {
      @include border-radius();
    }
    &:hover::before {
      content: '';
      position: absolute;
      background: url("../images/icons/icoGallery.png") center center no-repeat;
      width: 100%;
      height: 100%;
      z-index: 8;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}