//
// Partials -> Main
// ------------------------------------

@if $use-adaptive == false {
  header, main, footer {
    min-width: $container-xl;
  }
}

.h-container {
    @media screen and (min-width: $screen-adaptive-nav) {
        min-height: 100vh;
    }
}

.banner {
    color: $white-lighten;
    background-image: linear-gradient(to right, #fe6511 0%, #fe710e 48%, #fe7d0b 100%);
}
