footer.page-footer
    .container
        .page-footer__logo
            img(src="images/logo.svg", alt="")
        .page-footer__desc
            .page-footer__item
                .page-footer__desc-title Телефоны:
                .page-footer__desc-subtitle +357 25 849000    +357 25 849251
            .page-footer__item
                .page-footer__desc-title Электронная почта:
                .page-footer__desc-subtitle: a(href='mailto:support@wwp.capital') support@wwp.capital
            .page-footer__item
                .page-footer__desc-title.--grey
                .text--uppercase FIMOLVIA HOLDINGS LTD
                div #[b Регистрационный номер:] 349091 #[br] #[b Адрес:] 155 Arch. Makariou III Avenue #[br] Proteas House, 3026 Limassol Cyprus
        .page-footer__bot.--grey Дизайн и разработка: #[a(href="qurlaev.ru" target="_blank") Qurlaev]
