$icons: (
	  sprite: (width: 122px, height: 42px, svgPath: '../images/svg/sprite.svg'),
 	facebook: (width: 10px, height: 22px, backgroundX: 0px, backgroundY: 0px),
 	percent_icon: (width: 20px, height: 20px, backgroundX: -30px, backgroundY: 0px),
 	twitter: (width: 32px, height: 22px, backgroundX: -70px, backgroundY: 0px),
);
