main.main
    section.banner.h-container
        .banner-image
            img(src='images/iphone.png', alt='')
        .container
            .banner-title Делайте покупки со скидками #[br] и получайте повышенный #[br] кэшбэк до 36%
            .banner-desc 
                | WinWinPeople.Capital — это платформа, где вы совершаете онлайн покупки и часть денег возвращается вам любым удобным образом.
                i.icons.icons--visa
                i.icons.icons--mastercard
                i.icons.icons--e-payments
                i.icons.icons--ya-dengi
                i.icons.icons--qiwi
            a.btn.btn--default(href='#') Зарегистрироваться
    section.brands
        .container
            .title Бренды
            +brands(brands)
            .text--center
                .brands-info Еще #[span.brands-info-num.number--js2(data-number='850') 850+] брендов на платформе
                a.btn.btn--primary(href='#') Начать покупать выгодно
    section.category
        .container
            .title Категории
        .swiper
            .swiper-wrapper
                - for (var x = 1; x < 9; x++)
                    .swiper-slide
                        img(src='images/slide.jpg', alt='')
                        .swiper-title Путешествия
            .swiper-pagination
            .swiper-button-next: i.icons.icons--next
            .swiper-button-prev: i.icons.icons--prev
        .category-desc.text--center 36 категорий магазинов: от пушетествий и развлечений до доставки еды и зоотоваров.
    section.education
        .video-block
            img(src='images/video.png', alt='')
            div Короткая презентация того, как работает платформа от основатлей компании.
        .container
            .education-item
                .title Бесплатное обучение
                .subtitle Мы записали cерию видео, чтобы вы смогли легко #[br] во всём разобраться. Вся подробная информация #[br] в соответствующем разделе:
                .tabs
                    ul.tabs__caption
                        li.active Клиентам
                        li Партнерам
                        li Магазинам
                    .tabs__content.active
                    .tabs__content
                    .tabs__content
            .education-item
                img(src='images/education.svg', alt='')
    section.cashback
        .container.text--center
            .title Кешбэк в офлайн магазинах
            .subtitle В апреле 2018 года мы запускаем приложение, с помощью которого вы сможете получать кешбэк, используя свой смартфон.
            .cashback-img: img(src='images/phone.png', alt='')
    section.partners
        .container
            .partners-item
                .title Станьте нашим партнером
                .subtitle Начните зарабатывать на покупках своих друзей, знакомых и их друзей и знакомых.
                .subtitle Каждый раз, когда кто-то из них будет совершать покупку через платформу WWP.CAPITAL, вам будет перечисляться часть кешбэка.
                a.btn.btn--success(href='partners.html') Подробнее о партнерстве
            .partners-item
                img(src='images/rubblezz.png', alt='')
    section.money
        .container
            .title Удобный вывод денег из системы
            .subtitle Накопленный кешбэк можно вывести на банковскую карточку, Яндекс.Деньги, QIWI Кошелек или через систему ePayments.
            .money-logo
                i.icons.icons--visa-b
                i.icons.icons--mastercard-b
                i.icons.icons--e-payments-b
                i.icons.icons--ya-dengi-b
                i.icons.icons--qiwi-b
            .money-mini При выводе платежные системы взымают комиссию от 0% до 2,8%
    section.register
        .container
            .register-item
                .register-title Зарегистрируйстесь и начните совершать умные покупки с платформой #[span.text--uppercase WWP.CAPITAL]
            .register-item
                a.btn.btn--default(href='#') Зарегистрироваться
            
        
